.popup__input-form-error {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
