.popup__save-button {
  width: 235px;
  height: 46px;
  border-radius: 2px;
  margin: 45px auto 25px;
  color: white;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  background-color: #000;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.popup__save-button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .popup__save-button {
    width: 358px;
    height: 50px;
    font-size: 19px;
    line-height: 22px;
  }
}
