@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/page/__container/page__container.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__container/profile__container.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/button/button.css");
@import url("../blocks/button/_type/button_type_edit.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/button/_type/button_type_add.css");
@import url("../blocks/elements/elements.css");
@import url("../blocks/element/element.css");
@import url("../blocks/element/__photo/element__photo.css");
@import url("../blocks/element/__name/element__name.css");
@import url("../blocks/element/__counter/element__counter.css");
@import url("../blocks/button/_type/button_type_heart-like.css");
@import url("../blocks/button/_type/button_type_heart-like-active.css");
@import url("../blocks/button/_type/button_type_delete.css");
@import url("../blocks/button/_type/button_type_delete-disactive.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__author/footer__author.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/popup/__content/popup__content.css");
@import url("../blocks/popup/__content/_type/popup__content_type_image.css");
@import url("../blocks/popup/__content/_type/popup__content_type_name.css");
@import url("../blocks/popup/__window/popup__window.css");
@import url("../blocks/popup/__window/_type/popup__window_type_image-opened.css");
@import url("../blocks/popup/__input-form/popup__input-form.css");
@import url("../blocks/popup/__input-form-label/popup__input-form-label.css");
@import url("../blocks/popup/__input-form-error/popup__input-form-error.css");
@import url("../blocks/popup/__input-form-error/popup__input-form-error_active.css");
@import url("../blocks/popup/__input-text/popup__input-text.css");
@import url("../blocks/popup/__input-text/_type/popup__input-text_type_error.css");
@import url("../blocks/popup/__header/popup__header.css");
@import url("../blocks/popup/__save-button/popup__save-button.css");
@import url("../blocks/popup/__save-button/_disabled/popup__save-button_disabled.css");
@import url("../blocks/popup/__close-button/popup__close-button.css");
